ExoCore copy/.DS_Store
ExoCore copy/Collaborations in Exoplanet Field.ipynb
ExoCore copy/ExoCore.ipynb
ExoCore copy/Citizen_Science/Backyard_Worlds.ipynb
ExoCore copy/Citizen_Science/Funding_Schemes_for_Citizen_Science.ipynb
ExoCore copy/Citizen_Science/Galaxy_Zoo.ipynb
ExoCore copy/Citizen_Science/Planet_Hunters_TESS.ipynb
ExoCore copy/Citizen_Science/The_Zooniverse.ipynb
ExoCore copy/Data_Structures/Astropy_Data.ipynb
ExoCore copy/Data_Structures/Numpy.ipynb
ExoCore copy/Data_Structures/Pandas.ipynb
ExoCore copy/Data_Structures/Scipy.ipynb
ExoCore copy/Data_Structures/xarrays.ipynb
ExoCore copy/Databases/NEA.ipynb
ExoCore copy/Graphics/.DS_Store
ExoCore copy/Graphics/Atmosphere_Spectra.jpg
ExoCore copy/Graphics/Citizen_Science_Figure3.jpg
ExoCore copy/Graphics/Citizen_Science_Figure4.jpg
ExoCore copy/Graphics/Citizen_Science_Figure5.jpg
ExoCore copy/Graphics/Exocore_V2.png
ExoCore copy/Graphics/ExoCore.png
ExoCore copy/Graphics/Inclination.png
ExoCore copy/Graphics/Pacman_V2.gif
ExoCore copy/Graphics/Citizen_Science_Graphics/.DS_Store
ExoCore copy/Graphics/Citizen_Science_Graphics/Backyard_Worlds_Task.png
ExoCore copy/Graphics/Citizen_Science_Graphics/Backyard.jpg
ExoCore copy/Graphics/Citizen_Science_Graphics/Citizen_Science_Figure2.jpg
ExoCore copy/Graphics/Citizen_Science_Graphics/Citizen_Science_PHAD_Transit_Table_View.png
ExoCore copy/Graphics/Citizen_Science_Graphics/Citizen_Science_PHAD_Transit_User_View.jpg
ExoCore copy/Graphics/Citizen_Science_Graphics/Galaxy_Zoo.jpg
ExoCore copy/Graphics/Citizen_Science_Graphics/Main_zooniverse.jpg
ExoCore copy/Graphics/Citizen_Science_Graphics/Movers_Dipoles.png
ExoCore copy/Graphics/Citizen_Science_Graphics/NASA_NSPIRES.png
ExoCore copy/Graphics/Citizen_Science_Graphics/New_Project.png
ExoCore copy/Graphics/Citizen_Science_Graphics/PHT_Transit_Identifier.jpg
ExoCore copy/Graphics/Citizen_Science_Graphics/Planet_Hunters.jpg
ExoCore copy/Graphics/Citizen_Science_Graphics/Transit_Method.jpg
ExoCore copy/Graphics/Citizen_Science_Graphics/Zooniverse_Talk.png
ExoCore copy/Software/PACMAN.ipynb
