# Notebook outputs
ExoCore/Curriculum/Data_Repositories/Data
ExoCore/Curriculum/Data_Structures/*.csv
ExoCore/Auxiliary_Files/Data/Data_Repositories/Data

# Python cache
__pycache__

# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# VS Code
.vscode
*.code-workspace

# PyCharm
.idea